form{
    text-align: center; 
    margin-top: 80px; 
    width: 40%; 
    margin-left: auto;
    margin-right: auto;

    .border{
        border: solid 1px black;
        padding: 45px;
        border-radius: 20px;
       
    mat-form-field{
        width: 80%;
        margin: 5px;

        mat-error{
            font-size: 14px;
            font-weight: bold;
        }
    }

       .form-group{
           

             button{
                 width: 40%;
                 height: 40px;
             }
        }
    }
}