form{
    text-align: center; 
    margin-top: 20px; 
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;

    .border{
        border: solid 2px #333;
        padding: 10%;
        border-radius: 20px;
        
    
        mat-form-field{
            width: 80%;
        }

        .form-group{

            position: relative;
            width: 80%;
            margin-left: auto;
            margin-right: auto;

            .err{
                color: red;
                font-weight: bold;
                position: absolute;
                bottom: 7px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        
            button{
                top: 20px;
                width: 40%;
            }
        }
    }
}