.main-form{
    text-align: center;

    .form-group{
        margin-top: 0px;

        button{
            margin: 0px;
            width: 50%;
            border-radius: 0;
            height: 60px;
            font-size: 15px;
        }
    }
}