.main-form{
    text-align: center;

    .form-group{
        margin-top: 110px;

        button{
            margin: 5px;
            width: 43%;
            height: 60px;
            font-size: 15px;
        }
    }
}