<form [formGroup]="atmForm" (ngSubmit)="addAtm()">
    
    <mat-form-field>
        <mat-label>Identyfikator</mat-label>
           <input matInput type="text" formControlName="atmId" name="atmId">
            @if (atmId?.hasError('required')) {
              <mat-error>Pole nie może być puste.</mat-error>
            }
            @if (atmId?.hasError('minlength')) {
              <mat-error>Identyfikator musi zawierać conajmniej 8 znaków.</mat-error>
            }
            @if (atmId?.hasError('allUpperCaseValidator')) {
              <mat-error>Identyfikator nie może zawierać małych liter.</mat-error>
            } 
            @if (atmId?.hasError('atmNotExists')) {
              <mat-error>Maszyna o podanym identyfikatorze już istnieje.</mat-error>
            }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Numer seryjny</mat-label>
           <input matInput type="text" formControlName="serialNo" name="serialNo">
            @if (serialNo?.hasError('required')) {
              <mat-error>Pole nie może być puste.</mat-error>
            }
            @if (serialNo?.hasError('minlength')) {
              <mat-error>Identyfikator musi zawierać conajmniej 8 znaków.</mat-error>
            }
            @if (serialNo?.hasError('serialNoNotExists')) {
              <mat-error>Maszyna o podanym numerze seryjnym już istnieje.</mat-error>
            }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Typ</mat-label>
        <input matInput type="text" formControlName="type" name="type">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nazwa klienta</mat-label>
        <input matInput type="text" formControlName="clientName" name="clientName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lokalizacja</mat-label>
        <input matInput type="text" formControlName="location" name="location">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput type="text" formControlName="phone" name="phone">
    </mat-form-field>

    <div class="form-group">
        
        <!-- <input [disabled]="atmForm.invalid" class="add-btn" type="submit" value="Dodaj maszynę"> -->
        <button mat-raised-button color="primary" [disabled]="atmForm.invalid" type="submit">Dodaj maszynę</button>
    </div>
</form>
