.main-form{
    text-align: center;

    .form-group{
        margin-top: 0px;

        button{
            margin: 0px;
            width: 50%;
            border-radius: 0;
            height: 100px;
            font-size: larger;
        }
    }
}