<form #pdfForm="ngForm" (ngSubmit)="submitPdf(pdfForm.value)" ngNativeValidate>
    
        <div class="form-group">
            <div class="clientOption">Maszyny: </div>
    
        <select class="form-select" name="atmId" ngModel>
            <option value="" selected disabled hidden>-- Wybierz Identyfikator --</option>
            <option *ngFor="let atm of resultsAtm" [value]="atm.id">{{atm.atmId}}</option>
        </select>
        </div>

        <div class="form-group">
            <div class="clientOption">Operatorzy: </div>

        <select class="form-select" name="operatorId" ngModel>
            <option value="" selected disabled hidden>-- Wybierz Operatora --</option>
            <option *ngFor="let operator of resultsOperator" [value]="operator.id">{{operator.name}}</option>
        </select>
        </div>

        <div class="form-group">
            <div class="clientOption">Opis Klienta: </div>
            <textarea type="text" [(ngModel)]="clientDescription" name="clientDescription"></textarea>
    
        </div>

        <div class="form-group">
            <div class="clientOption">Opis Operatora: </div>
            <textarea type="text" [(ngModel)]="operatorDescription" name="operatorDescription"></textarea>
        </div>

        <div class="form-group">
            <input class="btn-dark" type="submit" value="Eksportuj PDF">
        </div>

        
</form>