form{
    margin-top: 40px;
    text-align: center;

        mat-form-field{
            width: 450px;
            margin: 13px;
            display: inline-block;
        }

        textarea{
            height: 150px;
        }
}
