form{
    margin-top: 40px;
    text-align: center;

        mat-form-field{
            width: 70%;
            margin: 13px;
            display: inline-block;
        }

        textarea{
            height: 150px;
        }

        .form-group{
            padding-bottom: 50px;
        }
}
