.container{
    margin-top: 40px;
    text-align: center;

    mat-form-field{
        width: 70%;
    }

    .btn-group{
        width: 100%;
        button{
            width: 70%;
        }
    }

    .messages-container{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        
        .message{
            padding: 10px;
            border-radius: 9px;
            background-color: white;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;

            .operatorName{
                float: left;
                font-weight: bold;
            }

            .date{
                float: right;
                font-weight: bold;
                display: flex;
                
                .btn{
                    background-color: #333;
                    width: 30px;
                    height: 30px;
                    border: none;
                    border-radius: 9px;
                    cursor: pointer;
                    margin-left: 15px;

                    img{
                        filter: invert(100%);
                        -webkit-filter: invert(100%);
                    }
                }

                .btn:hover{
                    background-color: gray;
                }
            }

            .forumText{
                overflow-wrap: break-word;
                white-space: pre-line;
            }
        }
    }
}