.main-container{
    margin-top: 20px;
    text-align: center;
   
    .search-box{
        border-radius: 5px;
        display: inline-block;
        .provide-form{

            @media only screen and (max-width: 420px) {
                mat-button-toggle-group{
                    mat-button-toggle{
                        width: 115px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
            @media only screen and (min-width: 420px) {
                mat-button-toggle-group{
                    mat-button-toggle{
                        width: 150px;
                    }
                }
            }
            mat-form-field{
               width: 90%;
               margin-top: 15px;
               margin-bottom: 0px;
            }
            p{
                margin-top: 0px;
                color: red;
                font-weight: bold;
            }
        }
       
        .atm-data{
            table {
                border:2px solid black;
                border-collapse: collapse;
                td{
                    border:2px solid black;
                    width: 400px;
                    padding: 5px;
                }
            }
        }
    }

    .button-group{
        margin-top: 18px;
        
    }
}