<div class="main-container">

    <div class="search-box">

        <div class="provide-form">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold">Identyfikator</mat-button-toggle>
                <mat-button-toggle value="italic">Numer Seryjny</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-form-field>
               <mat-label>Identyfikator</mat-label>
               <input matInput #atmId>
            </mat-form-field>
            
            @if(errorMessage){
                <p>Maszyna o podanym identyfikatorze nie istnieje.</p>
            }
        </div> 

        <div class="atm-data">
           <table>
            <tr>
                <td>Nazwa klienta:</td>
                <td>{{atm?.clientName}}</td>
            </tr>
            <tr>
                <td>Identyfikator:</td>
                <td>{{atm?.atmId}}</td>
            </tr>
            <tr>
                <td>Numer seryjny:</td>
                <td>{{atm?.serialNo}}</td>
            </tr>
            <tr>
                <td>Lokalizacja:</td>
                <td>{{atm?.location}}</td>
            </tr>
            <tr>
                <td>Typ:</td>
                <td>{{atm?.type}}</td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td>{{atm?.phone}}</td>
            </tr>
            </table>
        </div>
    </div>
    
    <div class="button-group">
        <button mat-raised-button color="primary" (click)="searchAtm(atmId.value)">Szukaj</button>
        <button mat-button routerLink="/atm">Wróć</button>
    </div>
</div>

