.header{
    background-color: gray;
    color: black;
    text-align: center;
    padding-top: 30px;
    
    h1{
        margin: 0;
    }
    .sub-header{
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    .navbar{
        z-index: 99;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 47px;
            background-color: #333;
        li{
            float: left;
            a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .logoutli{
            float: right;
        
        }
      }
      li a:hover {
        background-color: gray;
      }
    }
}

.myfooter{
    position: fixed;
    bottom: 0px;
    font-family: 'Sen', sans-serif;
    float: right;
    width: 100%;

    a{
        float: right;
        text-decoration: none;
        font-size: 11px;
        cursor: pointer;
        color: black;
        margin: 4px;
    }

    a:hover {
        color: gray;
    }
}