.header{
    background-color: rgb(55, 116, 55);
    color: white;
    text-align: center;
    padding-top: 20px;
    
    h1{
        cursor: pointer;
       
    }
    .navbar{
        text-align: center;
        z-index: 99;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        li{
            float: left;
            a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                cursor: pointer;
            }
        }
      }
      li a:hover {
        background-color: gray;
      }
    }
}