<form #atmForm="ngForm" (ngSubmit)="deleteAtmById(atmForm.value)" ngNativeValidate>
    
    <mat-form-field>
        <mat-label>Wybierz maszynę</mat-label>
    <mat-select name="atm" ngModel>
        @for (atm of atms; track atm) {
          <mat-option [value]="atm">{{atm.atmId}}</mat-option>
        }
    </mat-select>
    </mat-form-field>

    <div class="form-group">
        <button mat-raised-button color="warn" type="submit">Usuń</button>
        <button mat-button routerLink="/atm">Wróć</button>
    </div>
</form>
